@model IList<AccountTransactionViewModel>
@{
    ViewBag.Title = "Transactions";
}

<h2>My Transactions</h2>
@foreach (AccountTransactionViewModel transaction in Model)
{
    <div class="teamStatusField row">
        <span class="col-md-12">TRANSACTION: @transaction.TransactionId</span>
    </div>
    <div>
        @foreach (TransactionInformationViewModel details in transaction.Details)
        {
            <div class="col-md-12">
                <span class="col-md-4">NAME: @details.Name</span>
                <span class="col-md-4">TYPE: @details.TypeDescription</span>
                <span class="col-md-4">DATE: @details.Date</span>
                @*<span style="padding-left: 20px"><a href="#" data-resend-confirmation="@transaction.TransactionId"><img src='@Href("~/content/Images/btnResendConfirmation.gif")' alt="Resend Confirmation" /></a></span>*@
            </div>
        }
    </div>
}