@using Microsoft.AspNetCore.Identity
@using EMS.Domain.Models
@inject IOptions<AppSettings> AppSettings
@inject SignInManager<User> SignInManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@AppSettings.Value.SiteName - @ViewBag.Title</title>
    <link rel="stylesheet" href="https://webfonts.creativecloud.com/c/afd039/1w;arvo,1,WXD:W:n7;open-sans,1,VvF:W:n3/l" media="all">
    <link rel="shortcut icon" href="~/img/See3Slam/favicon.ico" />
    <link href="~/lib/vendor.css" rel="stylesheet" />
    <link href="~/css/See3Slam/site.css" rel="stylesheet" />
</head>
<body>
    <div class="mainContent">
        <!-- Header -->
        <div class="header"></div>
        <!-- Nav -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @await Html.PartialAsync("_Navigation")
                        }
                        @await Html.PartialAsync("_LoginPartial")
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="well-sm">
                        <p style="color: red; font-size: .85em">While this system should work with IE (9-11), for best experiences, it is recommended you use Google Chrome, Firefox, or Microsoft Edge.</p>
                    </div>
                </div>
            </div>
            @RenderBody()
            <hr />
            <footer>
                <div class="sponsorsArea">
                    <h2>Sponsors</h2>
                    <hr />
                    <div class="sponsors">
                        <p align="center" class="med-logos">
                            <img src="~/img/See3Slam/sunrise-rotary.png" alt="Sunrise Rotary" />
                            <img src="~/img/see3slam/WestCoast-See3Slam.png" alt="West Coast Auto Dealers" />
                            <img src="~/img/See3Slam/city-of-richland.png" alt="City of Richland" />
                        </p>
                        <p align="center" class="med-logos">
                            <img src="~/img/See3Slam/elite.png" alt="Elite" />
                            <img src="~/img/See3Slam/coca-cola.png" alt="Coca-Cola" />
                            <img src="~/img/See3Slam/kadlec.png" />
                            <img src="~/img/See3Slam/tire-factory.png" />
                        </p>
                        <p align="center" class="med-logos">
                            <img src="~/img/see3slam/total-care-clinics.png" alt="Total Care Clinics" />
                            <img src="~/img/See3Slam/kvew-tv.png" alt="KVEW 42" />
                            <img src="~/img/See3Slam/dutch-bros-coffee-cup.png" alt="Dutch Bros Coffee" />
                            <img src="~/img/See3Slam/abadan.png" />
                        </p>
                        <p align="center" class="med-logos">
                            <img src="~/img/See3Slam/windermere-small.png" />
                            <img src="~/img/See3Slam/peak-mortgage-small.png" />
                            <img src="~/img/See3Slam/fast-signs.png" alt="Fast Signs" />
                            <img src="~/img/See3Slam/jimmy-johns-small.png" />
                            <img src="~/img/See3Slam/dan-burns-3d-productions-small.png" />
                        </p>
                    </div>
                    <h2>Official Lodging Partners</h2>
                    <hr />
                    <div class="sponsors">
                        <p align="center" class="med-logos col-xs-12">
                            <img src="~/img/See3Slam/RedLion.png" alt="Red Lion Hotels" /><br />
                            <a href="https://www.redlion.com/columbia-center" target="_blank">Kennewick Columbia Center: Promo Code SEE30713</a><br />
                            <a href="https://www.redlion.com/richland" target="_blank">Richland Hanford House: Promo Code SLAM0713</a>
                        </p>
                    </div>
                    <div>
                        <a href="http://intellitect.com/" target="_blank"><img src="~/img/IntelliTect.png" alt="IntelliTect" /></a>&copy; @DateTime.Now.Year
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/vendor.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
