@inject IOptions<AppSettings> AppSettings
@model ForgotPasswordViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
    <p>
        Dear @Model.FirstName,
    </p>
    <p>
        We received a request to reset your password. If you did not make this request, disregard this e-mail.
        If you did want to reset your password, please click on the link below<br />
        <a href="@Model.CallbackUrl" style="margin:20px;display:block;color:#ffffff;font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:18px;font-weight:600;padding:18px 0;line-height:1em;text-decoration:none;text-align:center;background-color:#FFB81D;border-radius:3px" target="_blank">Reset Password</a>.
        <small>
            Trouble with the button above? Copy and paste the link below into your browser:<br />
            @Model.CallbackUrl
        </small>
    </p>
    <p style="clear: both; padding-top: 10px;">
        &copy; Copyright @DateTime.Now.Year @AppSettings.Value.SiteName. All rights reserved.
    </p>
</body>
</html>