@inject IOptions<AppSettings> AppSettings
@model TeamRegisteredViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your team has been registered</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <p>
        Thank You - This is Your Registration Confirmation Form
    </p>
    <p>
        Hello @Model.FirstName @Model.LastName,
    </p>
    <p>
        CONGRATULATIONS! YOUR PAYMENT HAS BEEN RECEIVED AND YOU ARE NOW REGISTERED AND CONFIRMED FOR @AppSettings.Value.TournamentName.ToUpper()!
    </p>
    <p>
        Thank you for registering your team for @AppSettings.Value.TournamentName. Make sure to bring your ‘A’ game, but most of all, come to have fun.
    </p>
    <p>
        IMPORTANT: Print and save this confirmation email. This is your ONLY proof of registration and payment, and legally binding voluntary waiver for all registered team players. All team players automatically agree to the terms of the
        Sportsmanship Pledge and Voluntary Waiver upon successful online submittal and payment of team rgistration. BE SURE TO BRING THIS FORM AND SOME FORM OF IDENTIFICATION TO THE TEAM CHECK-IN. VALID PICTURE ID IS PREFERRED BUT AT A MINIMUM,
        PROOF OF AGE ON July 14, 2018 and/or GRADE ENTERING IN SEPTEMBER 2018.
    </p>
    <p>
        If you have any questions, please feel free to contact us at <a href="mailto:@AppSettings.Value.ContactEmail">@AppSettings.Value.ContactEmail</a>.
    </p>
    <p>
        TEAM INFORMATION
    </p>
    <p>
        Team Name: @Model.Team.Name<br />
        Team Number: @Model.Team.Id.ToString("0000")<br />
        Registration Email: @Model.EmailAddress<br />
        Gender Type: @Model.Team.GenderName<br />
        Competition Level: @Model.Team.CompetitionLevelName<br />
        Registration Date: @Model.DateRegistered
    </p>
    <p>
        <table cellpadding='5'>
            <tr>
                <td>Player Name</td>
                <td>Gender</td>
                <td>Age</td>
                <td>T-Shirt Size</td>
            </tr>
            @foreach (RegisteredParticipantViewModel player in Model.Members)
            {
                <tr><td>@player.FirstName @player.LastName</td><td>@player.Gender</td><td>@player.Age</td><td>@player.TShirtSize</td></tr>
            }
        </table>
    </p>
    <p style="clear: both; padding-top: 10px;">
        &copy; Copyright @DateTime.Now.Year @AppSettings.Value.SiteName. All rights reserved.
    </p>
</body>
</html>